<div class="container footer-container">
    <div class="footer-column footer-about">
        <h3 class="footer-logo"><span>Delcio</span>Cunha</h3>
        <p>Software Developer apaixonado por construir soluções web modernas, escaláveis e com impacto real em Angola.</p>
    </div>
    <div class="footer-column footer-links">
        <h4 class="footer-title">Links Rápidos</h4>
        <ul>
            <li><a href="index.html#hero">Início</a></li>
            <li><a href="index.html#projects">Projetos</a></li>
            <li><a href="download-resume.html">Currículo</a></li>
            <li><a href="index.html#contact">Contacto</a></li>
        </ul>
    </div>
    <div class="footer-column footer-connect">
        <h4 class="footer-title">Conecta-te Comigo</h4>
        <ul>
            <li><a href="https://github.com/DelcioCunha" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
            <li><a href="https://www.facebook.com/delcio.cunha.2025" target="_blank"><i class="fab fa-facebook"></i> Facebook</a></li>
            <li><a href="https://www.instagram.com/delcio_369" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
            <li><a href="mailto:delciobentocunha007@gmail.com"><i class="fas fa-envelope"></i> Email</a></li>
        </ul>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        <p>Copyright © <span id="currentYear"></span> Delcio Cunha. Todos os direitos reservados.</p>
    </div>
</div>
